<h1>Food Me Please</h1>
<main>
  <p>This application helps users decide where to eat. There is a quick quiz that takes in their
    preferences to determine their ideal restaurant. The user can also search for restaurants by
    name and location. There is an interactive chat-bot that can assist users in
    various ways.
  </p>
  <p id="serverError">{{{error}}}</p>
  <div id="error" hidden></div>
  <form action='/restaurantResults' method='POST' id="home-form">
    {{! <label for='searchRestaurant'>Search for a restaurant by name</label><br />
    <input type='text' name='searchRestaurant' id='searchRestaurant' /><br /><br /> }}
    <label for='searchLocation'>In what area do you want to search in?</label><br />
    <input type='text' name='searchLocation' id='searchLocation' /><br /><br />
    <label for='searchName'>What is the name of the restaurant?</label><br />
    <input type='text' name='searchName' id='searchName' /><br /><br />
    <input type='submit' value='Submit' />
  </form>
  <br />
  <form id="form">
    <div id="main">
      <label for="question">Please select your question.</label><br><br>
      <input type="radio" id="option1" name="option" value="option1" />How do I use this page?<br><br>
      <input type="radio" id="option2" name="option" value="option2" />What if I don't know what I want to eat?<br><br>
      <button onclick="homepageQuestion()">Submit</button>
    </div>
  </form>
</main>