
<h1>Food Me Please</h1>
<main>
  <p>This application helps users decide where to eat. There is a quick quiz that takes in their
    preferences to determine their ideal restaurant. The user can also search for restaurants by
    name, location, and price range. There is an interactive chat-bot that can assist users in
    various ways.
  </p>
  <form action='/restaurantResults' method='POST'>
    <label for='searchRestaurant'>Search for a restaurant by name, location, or price range</label><br />
    <input type='text' name='searchRestaurant' id='searchRestaurant' /><br /><br />
    <input type='submit' value='Submit' />
</main>