<h1>
  Restaurants Quiz
</h1>
<main>
  <p>
    Trying to find a place to eat and can't decide? Take our quiz and we'll help you find the
    perfect place! This quiz takes in your preferences to find the best restaurants near you!
  </p>
  <p id="serverError">{{{error}}}</p>
  <div id="error" hidden></div>
  <form action='/restaurantQuizResults' method='POST' id="quiz-form">
    <label for='cuisine'>What type of food are you in the mood for?</label><br>
    <input type='text' name='cuisine' id='cuisine'><br><br>

    <label for='price1'>What is your price range?</label><br>
    <input type='checkbox' name='price' id='price1' value='1'>$<br>
    <label for='price2'></label>
    <input type='checkbox' name='price' id='price2' value='2'>$$<br>
    <label for='price3'></label>
    <input type='checkbox' name='price' id='price3' value='3'>$$$<br>
    <label for='price4'></label>
    <input type='checkbox' name='price' id='price4' value='4'>$$$$<br><br>

    <label for='location'>Where are you located?</label><br>
    <input type='text' name='location' id='location'><br><br>

    <label for="distance">How far are you willing to travel? (in miles)</label><br>
    <input type="number" name="distance" id="distance" min="0"><br><br>

    <label for="open">Do you want to filter for restaurants that are open now?</label><br>
    {{!-- <input type="radio" id="open1" value='true' name="open" checked>Yes<br>
    <input type="radio" id="open2" value='false' name="open">No<br><br> --}}
    <select name="open" id="open">
      <option value="true" id="yes">Yes</option>
      <option value="false" id="no">No</option>
    </select><br><br>

    <label for="numOptions">How many options do you want to display?</label><br>
    <input type="number" name="numOptions" id="numOptions" min="0" max="50"><br><br>

    <label for="sort_by">How do you want to sort the results?</label><br>
    <select name="sort_by" id="sort_by">
      <option value="best_match">Best Match</option>
      <option value="rating">Rating</option>
      <option value="distance">Distance</option>
    </select>
    <br><br>
    <input type='submit' value='Submit' class="submitBtn">
  </form>
  <br />
  <button class="openChat" onclick="openForm2()" id="openChat">Questions?</button>
  <div id="chatbot-quiz-main" class="main"></div>
  <form id="chatbot-quiz-form" class="popup">
    <label>Please select your question.</label><br><br>
    <label for="quiz-option1"></label>
    <input type="radio" id="quiz-option1" name="option" value="option1" />How do I use this page?<br><br>
    <label for="quiz-option2"></label>
    <input type="radio" id="quiz-option2" name="option" value="option2" />What if I already know what I want to
    eat?<br><br>
    <button onclick="quizQuestion()" class="btn">Ask</button>
    <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
    <p id="quiz-answer"></p>
  </form>
</main>