/*This file should have CSS rulesets */
p {
  color: blue;
  line-height: 1.5;
}

h1 {
  color: crimson;
}

#divColorBorder {
  border-top: 3px solid silver;
  border-bottom: 2px solid silver;
  border-right: 2px solid rosybrown;
  border-left: 3px solid rosybrown;
}

div {
  text-align: center;
  line-height: 1.5;
  font-style: normal;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: darkgoldenrod;
}

h2 {
  color: limegreen;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  text-align: center;
}

body {
  background-color: aquamarine;
}

label {
  color: steelblue;
}

.main {
  border: 2px solid black;
  position: absolute;
  left: 50%;
  background-color: lightgray;
  text-align: center;
  line-height: 1.5;
  font-style: normal;
  width: 25%;
}

#input {
  text-align: center;
}

/* #chatbot {
  text-align: center;
}

.hide {
  display: none;
} */
