/*This file should have CSS rulesets */
p {
  color: blue;
  line-height: 1.5;
}

main p {
  text-align: center;
}

h1 {
  color: crimson;
  text-align: center;
}

#id-form {
  margin-left: 500px;
  margin-right: 500px;
}

div {
  text-align: center;
  line-height: 1.5;
  font-style: normal;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: darkgoldenrod;
}

h2 {
  color: limegreen;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  max-height: 350px;
}

input {
  text-align: center;
}

body {
  background-color: aquamarine;
}

label {
  color: darkblue;
}

#serverError {
  color: crimson;
}

.main {
  border: 2px solid black;
  position: absolute;
  left: 50%;
  background-color: lightgray;
  text-align: center;
  line-height: 1.5;
  font-style: normal;
  width: 25%;
}

.openChat {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 25px;
  right: 28px;
  width: 350px;
}

.main {
  display: none;
  position: fixed;
  bottom: 0;
  right: 110px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.popup {
  visibility: hidden;
  width: 345px;
  height: 400px;
  padding: 0;
  position: fixed;
  bottom: 25px;
  right: 28px;
  background-color: white;
  border: 3px solid black;
}

.popup .btn {
  background-color: #026f47;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.popup .cancel {
  background-color: red;
}

.popup .btn:hover,
.open:hover {
  opacity: 1;
}

#home-answer {
  text-align: center;
}

#quiz-answer {
  text-align: center;
}

.submitBtn {
  background-color: cornflowerblue;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-bottom: 5px;
  position: fixed;
  left: 30px;
  opacity: 0.8;
}

.submitBtn:hover {
  opacity: 1;
}
